.code-block-div {
  position: fixed;
  top: 5%;
  right: 0;
  width: 35%;
  height: 90%;
  background-color: #f1f1f1;
  overflow: auto;
  z-index: 5;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.code-action-div {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 95%;
  right: 0;
  width: 100%;
  height: 15%;
  background-color: #ababab;
  float: left;
  z-index: 5;
}


.file-selector-div {
  position: fixed;
  top: 0%;
  right: 0;
  width: 100%;
  height: 5%;
  background-color: #19a2e3;
  overflow: auto;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
}

#icons {
  float: left;
}

.module-element {
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
}

.btn {
  background-color: transparent;
  border: none;
  opacity: 1;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

/*************************************************/
.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown button {
  background-color: #f9f9f9;
  border: none;
  color: black;
  padding: 10px 15px;
  font-size: 16px;
  z-index: 1;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  border-radius: 5px;
  top: 100%;
}

.dropdown-content-item {
  background-color: #aaa;
  z-index: 1;
}


.dropdown:hover .dropdown-content {
  display: block;
  max-height: 200px;
  /* Set the desired max height */
  overflow-y: auto;
  /* Add vertical scrollbar when necessary */
}

.dropdown-item {
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
  font-family: 'Courier New', Courier, monospace;
}

.dropdown-container {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

.selector-box {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
}

.condition-box {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
}

button {
  margin: 5px 0;
  padding: 8px 16px;
  border: none;
  background-color: #1f2551;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.5;
}

.selector-button {
  width: 100%;
}

.headers-page {
  display: block;
  background-color: #EEA47F;
  position: absolute;
  z-index: 10;
  top: 5%;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  height: 0;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.actions-page {
  display: block;
  background-color: #e1b8bd;
  position: absolute;
  z-index: 10;
  top: 5%;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  height: 0;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.actions-page.show {
  display: block;
  transform: translateX(0%);
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Actions Page Search Bar Container */
.actions-page-search-bar {
  width: 320px;
  height: 40px;
  background-color: #fff;
  /* White background color for the input field */
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
  overflow: hidden;
  top: 2%;
  left: 40%
    /* To ensure any child elements do not overflow the container */
}

/* Search Input */
.actions-page-search-bar input[type="text"] {
  width: 320px;
  /* Set to full width of its parent */
  height: 40px;
  /* Set to full height of its parent */
  border: none;
  background-color: transparent;
  padding: 0 40px;
  /* Padding on both sides to make room for the search icon and to center the text */
  margin: 0;
  /* Reset margin */
  box-sizing: border-box;
  /* Ensure padding and border are included in the element's total width and height */
  font-size: 16px;
  border-radius: 20px;
  outline: none;
  text-align: center;
  /* Center the text in the input */
  transition: box-shadow 0.3s ease;
}

/* Search Icon */
.actions-page-search-bar .fa-search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 18px;
  pointer-events: none;
}

/* Search Icon */
.actions-page-search-bar .plus-action-module {
  position: absolute;
  left: 0%;
  top: 40%;
  transform: translateY(-50%);
  background-color: transparent;
  font-size: 18px;
  pointer-events: none;
  z-index: 12;
  margin: 5px 0;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #888;
  pointer-events: auto;
}

.actions-page-items {
  border-top: 2px solid rgba(0, 0, 0, 0.15);
  /* semi-transparent line */
  margin-top: 45px;
  /* Pushes the whole .actions-page-items down, including its border */
  padding-top: 10px;
  /* Provides space above the content inside the .actions-page-items, pushing content further down from the border */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Create 3 equal columns */
  gap: 20px;
  /* Gap of 20 pixels between grid items */
  align-items: flex-start;
}

.headers-page.show {
  display: block;
  transform: translateX(0%);
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.headers-page-item {
  display: table;
  width: 95%;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Courier New", Courier, monospace;
  color: #333;
  transition: transform 0.3s ease;
  overflow-x: scroll
}

/* Optional: Additional styling for the headers-page-item divs */
.headers-page-item h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.headers-page-item p {
  font-size: 16px;
  margin-bottom: 8px;
}

.data-container {
  display: inline-grid;
  font-family: "Courier New", Courier, monospace;
  border-radius: 8px;
  padding: 20px;
  margin: 0 10px 20px 0;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  background-color: #F7F7F7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 275px;
}

.data-container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.data-container .data-name {
  font-size: 16px;
  font-weight: bold;
  padding: 8px 12px;
  background-color: #D0DAE5;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 10px;
  color: #333;
  min-width: 250px;
}

.data-container .data-fields {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.data-container:hover .data-fields {
  max-height: 1000px;
  /* Adjust to a larger value if needed */
}

.data-container .data-field {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: #555;
}

.data-container .data-field span:first-child {
  color: #A0A0A0;
}

.data-container .data-field span:last-child {
  margin-left: 5px;
}

.data-container::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #ddd;
  margin-top: 10px;
}

.add-icon {
  position: relative;
  min-width: 30px;
  height: 30px;
  background-color: #79606c;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  line-height: 30px;
  margin-right: 5px;
  float: right;
  padding: 5px;
}

.add-icon:hover {
  opacity: 0.7;
}

.data-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.buttons button {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background: linear-gradient(to bottom, #91c3e0, #609cb2);
  border: 1px solid #60b4dd;
  padding: 10px 25px;
  /* Increased padding for wider tab */
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1em;
  margin-top: 5px;
  /* Some space at the top for the tab effect */
  margin-left: 5px;
  /* Space between tabs, if you add more */
  margin-right: 5px;
  /* Space between tabs */
  height: 80%;
}

.buttons button:hover {
  background: linear-gradient(to bottom, #80c7ee, #60b4dd);
}

.action-statement:hover {
  background-color: #E65A49;
  /* slightly darker background on hover */
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  /* a deeper shadow for "lifting" effect on hover */

}

#autocompleteBase {
  position: absolute;
  top: 0px;
  /* Adjust as needed to align */
  left: 0px;
  /* Adjust as needed to align */
  color: lightgrey;
  pointer-events: none;
  z-index: 1;
}

.action-statement {
  position: relative;
  display: block;
  /* For better control over child elements */
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  text-align: center;
  padding: 8px 16px;
  margin: 4px;
  background-color: #E65A49;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 400px;
}

.action-statement .autocompleteInput {
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  z-index: 2;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  flex: 1;
  resize: none;
  /* Prevent manual resize of textarea */
  overflow: hidden;
  /* Hide the scrollbar */
  white-space: pre-wrap;
  /* Wrap the overflowing text to the next line */
  height: 64px;
}

.module-element .CodeMirror.cm-s-default {
  position: fixed;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  /* Keep this unblurred when the code block is triggered. */
  z-index: 20;
  font-size: 20px;
  background-color: #111;
  color: lime;
  border: 40px solid grey;
  display: none;
  border-radius: 5px;
}

.formatable-input-field {
  display: flex;
  flex-direction: column;
}


.buttons.left, .buttons.right {
  flex: 1;
}

.center-buttons {
  flex: 2;
  display: flex;
  justify-content: space-between;
}


.circle {
  display: inline-block;
  border-radius: 100%;
  width: 0.75em;
  height: 0.75em;
  margin-right: 8px;
  vertical-align: middle;
}

/* This color means the ControlBlock has not been modified yet. */
.lime {
  background-color: #197219;
}

/* This color means the ControlBlock has been modified yet. */
.yellow {
  background-color: goldenrod;
}

/* This color means the ControlBlock has syntax error. */
/* Very basic syntax error checking... Checked on exit. */
.red {
  background-color: tomato;
}

.blue {
  background-color: #34495e;
}

.button-text {
  margin-right: 8px; /* adjust this value as needed */
}

.variable-hub {
  position: fixed;
  top: 5%;
  width: calc(100% - 1%); 
  min-height: 55px; 
  background-color: #F0E68C; /* softer golden color */
  overflow: auto;
  margin: 0.5%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap; 
  align-items: flex-start;
  border-radius: 12px; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* add some depth */
  cursor: pointer;
}

.variable-hub-variables {
  background-color: #4682B4; /* softer navy blue */
  align-items: center;
  border: 1px solid #B0C4DE; /* softer border color */
  border-radius: 12px; /* more rounded corners */
  min-width: 100px; 
  height: 45px;
  margin: 5px 10px; /* more horizontal spacing */
  padding: 5px 10px; /* internal padding for breathing room */
  display: flex;
  align-items: center;
  transition: background-color 0.3s; /* smooth transition for hover states */
  z-index: 10;
}

.variable-hub-variables:hover {
  background-color: #5A9ACD; /* slightly lighter navy for hover */
}

.variable-hub-variable-text-field {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  color: #F8F8FF;
  font-size: 20px;
  margin-right: 10px;
  outline: none;
  font-family: 'Courier New', Courier, monospace;
}

.variable-hub-variable-text-field:focus {
  outline: none;
}

.variable-hub-variable-delete-button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.custom-background {
  background-color: black;
}

.custom-codemirror-text-color {
  color: lime;
}

#icons-container {
  display: flex;
  align-items: center;
  height: 50px;
}

.module-element.dropbox {
  background-color: #34dbc4;
  border: 5px dashed white;
  border-radius: 15px;
  padding: 20px;
  margin: 5px;
  width: 300px;
  outline: 1px solid #ccc;
  transition: all 0.3s ease;
}

.module-element.dropbox:hover {
  background-color: #2db8b1;
  transform: scale(1.05);
  border: 5px solid white;
}

/* Exactly the same as the dropbox hover. */
.hovering {
  background-color: #2db8b1;
  transform: scale(1.05);
  border: 5px solid white;
}

.module-element.complete-dropbox {
  background-color: #8a2be2;  
  border: 5px solid white; 
  border-radius: 15px;
  padding: 20px;
  margin: 5px;
  width: 300px;
  outline: 1px solid #ccc;
  transition: all 0.3s ease;
  color: white;
}

.size-label,
.input-container {
  margin: 0 10px;
  display: flex;
  align-items: center; /* Vertically aligns text inside these spans */
}

.size-illustration {
  width: 20px;
  height: 20px;
  background-color: rgb(126, 111, 130); /* A slightly lighter shade of the background */
  margin: auto;
}

.size-input {
  width: 50px;  /* Reduced width */
  border: 1px solid white;
  background-color: rgb(150, 135, 155);
  color: white;
  padding: 1px;
  border-radius: 3px;
}
