{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>VisualP4 IDE</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/codemirror.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="{% static 'custom.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jerosoler/Drawflow/dist/drawflow.min.css">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.min.css">
  <script src="{% static 'drawflow.js' %}"></script>
  <script src="{% static 'metadata.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/mode/javascript/javascript.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body style="background-color:#7CDEDC;">
  <script src="{% static 'main.js' %}"></script>
  <div id="drawflow"></div>
  <div class="headers-page">
    <div class="headers-page-item" id="vars"> </div>
    <div class="headers-page-item" id="typedefs"> </div>
    <div class="headers-page-item" id="headers"> </div>
    <div class="headers-page-item" id="structs"> </div>
  </div>
  <div class="actions-page">
    <div class="actions-page-search-bar">
      <input type="text" placeholder="Search Actions...">
      <i class="fas fa-search"></i>
    </div>
    <div class="actions-page-items">
      <div id="node-12" class="drawflow-node"
        style="width: 400px; min-height: 200px; border-radius: 10px; background: #DB3A34; align-items: baseline;">
        <div class="drawflow_content_node" style="display: flex; flex-direction: column;">
          <div class="module-element">
            <p style="justify-content: center; float:left; margin: auto;"> Action </p>
            <p style="justify-content: center; float:left; margin: auto;"> <input id="action-input-field"
                placeholder="Action name" style="font-family:Courier, monospace; background: transparent;"> </p>
            <p style="justify-content: center; float:right; margin: auto;">
              <button class="btn" onclick="addModuleStatements('node-12', 'action')">
                <i class="fa-sharp fa-solid fa-circle-plus fa-lg" style="color: #1f2551;"></i>
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="file-selector-div">
    <div class="buttons">
      <button style="float:left; vertical-align: center;" onclick="HeaderDisplaySetting()"> Headers </button>
    </div>
    <div class="buttons">
      <button style="float:left; vertical-align: center;" onclick="ActionDisplaySetting()"> Actions </button>
    </div>
    <div class="buttons">
      <button style="float:right; vertical-align: center;" onclick="CodeDisplaySetting()"> Code </button>
    </div>
  </div>
  <div class="code-block-div">
    <textarea id="code" rows="40"></textarea>
  </div>
  <div class="code-action-div">
    <button id="icons" onclick="createNewModule()">
      <i class="fa-solid fa-plus"></i>
    </button>
    <div id="icons" class="slidecontainer">
      <input type="range" min="0.5" max="1.6" value="1" step="0.1" class="slider" id="myRange">
    </div>
  </div>
</body>

</html>