{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>VisualP4 IDE</title>
  <link rel="icon" href="https://avatars.githubusercontent.com/u/10765181?s=200&v=4" type="image/png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/codemirror.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="{% static 'custom.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jerosoler/Drawflow/dist/drawflow.min.css">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.min.css">
  <script src="{% static 'drawflow.js' %}"></script>
  <script src="{% static 'metadata.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/mode/javascript/javascript.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body style="background-color:#7CDEDC;">
  <script src="{% static 'main.js' %}"></script>
  <!-- On load, we render the parser page first! -->
  <div class = "drawflow-child" id="drawflow-parser"></div>
  <div class = "drawflow-child" id="drawflow-verify-checksum" style = "display: none;"></div>
  <div class = "drawflow-child" id="drawflow-ingress" style = "display: none;"></div>
  <div class = "drawflow-child" id="drawflow-egress" style = "display: none;"></div>
  <div class = "drawflow-child" id="drawflow-compute-checksum" style = "display: none;"></div>
  <div class = "drawflow-child" id="drawflow-deparser" style = "display: none;"></div>
  <div class="headers-page">
    <div class="headers-page-item" id="vars"> </div>
    <div class="headers-page-item" id="typedefs"> </div>
    <div class="headers-page-item" id="headers"> </div>
    <div class="headers-page-item" id="structs"> </div>
  </div>
  <div class="actions-page">
    <div class="actions-page-search-bar">
      <!-- This search bar is a place holder for now, will add searching functionality later. -->
      <input type="text" placeholder="Search Actions...">
      <i class="fas fa-search"></i>
      <button class="plus-action-module" onclick="addActionModule()">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
    <div class="actions-page-items">
    </div>
  </div>
  <div class="file-selector-div">
    <div class = "buttons left">
    <div class="buttons">
      <button style="float:left; vertical-align: center;" onclick="HeaderDisplaySetting()"> 
        Headers
      </button>
    </div>
    <div class="buttons">
      <button style="float:left; vertical-align: center;" onclick="ActionDisplaySetting()"> Actions </button>
    </div>
    </div>
    <!-- Program Procession Starts Here -->
    <div class="center-buttons">
      <div class="buttons">
        <button style = "display: flex; align-items: center; background: linear-gradient(to bottom, #406a7e, #30505e);"
              id = "parser"  
              onclick = "controlSwitch('parser')">
          <span class="button-text">Parser</span> 
          <div class="circle lime" id = "parser-status-circle-lime"></div>
          <div class="circle yellow" id = "parser-status-circle-yellow" style = "display: none"></div>
          <div class="circle red" id = "parser-status-circle-red" style = "display: none"></div>
          <div class="circle blue" id = "parser-status-circle-blue" style = "display: none"></div>  
        </button>
      </div>
      <div class="buttons">
        <button style = "display: flex; align-items: center;" id = "verify-checksum" onclick = "controlSwitch('verify-checksum')">
          <span class="button-text">VerifyChecksum</span> 
          <div class="circle lime" id = "verify-checksum-status-circle-lime"></div>
          <div class="circle yellow" style = "display: none" id = "verify-checksum-status-circle-yellow"></div>
          <div class="circle red" style = "display: none" id = "verify-checksum-status-circle-red"></div> 
          <div class="circle blue" id = "verify-checksum-status-circle-blue" style = "display: none"></div> 
        </button>
      </div>
      <div class="buttons">
        <button style = "display: flex; align-items: center;" id = "ingress" onclick = "controlSwitch('ingress')">
          <span class="button-text">Ingress</span> 
          <div class="circle lime" id = "ingress-status-circle-lime"></div>
          <div class="circle yellow" style = "display: none" id = "ingress-status-circle-yellow"></div>
          <div class="circle red" style = "display: none" id = "ingress-status-circle-red"></div>
          <div class="circle blue" id = "ingress-status-circle-blue" style = "display: none"></div>  
        </button>
      </div>
      <div class="buttons">
        <button style = "display: flex; align-items: center;" id = "egress" onclick = "controlSwitch('egress')">
          <span class="button-text">Egress</span> 
          <div class="circle lime" id = "egress-status-circle-lime"></div>
          <div class="circle yellow" style = "display: none" id = "egress-status-circle-yellow"></div>
          <div class="circle red" style = "display: none" id = "egress-status-circle-red"></div>  
          <div class="circle blue" id = "egress-status-circle-blue" style = "display: none"></div>
        </button>
      </div>
      <div class="buttons">
        <button style = "display: flex; align-items: center;" id = "compute-checksum" onclick = "controlSwitch('compute-checksum')">
          <span class="button-text">ComputeChecksum</span>
          <div class="circle lime" id = "compute-checksum-status-circle-lime"></div>
          <div class="circle yellow" style = "display: none" id = "compute-checksum-status-circle-yellow"></div>
          <div class="circle red" style = "display: none" id = "compute-checksum-status-circle-red"></div>  
          <div class="circle blue" id = "compute-checksum-status-circle-blue" style = "display: none"></div>
        </button>
      </div>
      <div class="buttons">
        <button style = "display: flex; align-items: center;" id = "deparser" onclick = "controlSwitch('deparser')">
          <span class="button-text">Deparser</span>
          <div class="circle lime" id = "deparser-status-circle-lime"></div>
          <div class="circle yellow" style = "display: none" id = "deparser-status-circle-yellow"></div>
          <div class="circle red" style = "display: none" id = "deparser-status-circle-red"></div>  
          <div class="circle blue" id = "deparser-status-circle-blue" style = "display: none"></div>
        </button>
      </div>
    </div>
    <!-- Program Procession Ends Here -->
    <div class = "buttons right">
      <div class="buttons">
        <!-- Disabled for low usage... If there is a need, we can enable it again. -->
        <!-- <button style="float:right; vertical-align: center;" onclick="CodeDisplaySetting()"> Generate Code </button> -->
        <button id = "control-variables" style="float: right; vertical-align: center;" onclick="ToggleControlVariables()" style = "display: none;"> Control Variables </button>
      </div>
    </div>
  </div>
  <div>
    <!-- The variable hubs default to display none, they are only triggered when we switch to the corresponding page. -->
    <div class="variable-hub" id="variable-hub-verify-checksum" onclick = "addVariableToVariableHub()" style = "display: none;"> 
    </div>
    <div class="variable-hub" id="variable-hub-ingress" onclick = "addVariableToVariableHub()" style = "display: none;">
    </div>
    <div class="variable-hub" id="variable-hub-egress" onclick = "addVariableToVariableHub()" style = "display: none;">
    </div>
    <div class="variable-hub" id="variable-hub-compute-checksum" onclick = "addVariableToVariableHub()" style = "display: none;">
    </div>
    <div class="variable-hub" id="variable-hub-deparser" onclick = "addVariableToVariableHub()" style = "display: none;">
    </div>
  </div>
  <div class="code-block-div">
    <textarea id="code" rows="40"></textarea>
  </div>
  <div class="code-action-div" style="display: flex; justify-content: space-between;">
    <div class="left-container" style="display: flex;">
      <div class="some-icons" style="height: 60px; display: flex; align-items: center; justify-content: center;">
        <button id="icons-button" onclick="createNewModule()">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
      <div id="icons-container" class="slidecontainer">
        <input type="range" min="0.5" max="1.6" value="1" step="0.1" class="slider" id="myRange">
      </div>
    </div>
    <div class="p4logo">
      <a href="https://forum.p4.org" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/10765181?s=200&v=4" width="40" height="40" alt="P4 Forum">
    </a>
    </div>
  </div>
</body>

</html>